@import "../../../style/_var.scss";

.are-message-container {
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.are-message-wrapper {
  position: relative;
  padding: 8px 0;
  color: $are-text-color;
  text-align: center;
}

.are-message {
  position: relative;
  display: inline-block;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.5715;
  pointer-events: all;
  background-color: #fff;
  border: 1px solid $are-border-light;
  border-radius: 999px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .06);
  box-sizing: border-box;

  &--close {
    padding-right: 44px;
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 0 12px;
    font-size: 18px;
    color: lighten($are-disabled-text, 40%);
    cursor: pointer;
  }

  &__loading {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: $are-primary;
    vertical-align: middle;

    &--space {
      margin-right: 10px;
    }
  }

  &-enter-active {
    animation: fadeAndSlide .2s ease-out forwards;
  }

  &-exit-active {
    animation: fadeAndSlide .2s ease-out reverse forwards;
  }
}

@keyframes fadeAndSlide {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
