@import './var';

[data-focus-visible-added].focus-visible {
  outline: solid 2px rgba($are-primary, .4);
}

.are-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -.15em;
  fill: currentColor;
}

.are-color {
  color: $are-text-color;

  &--primary {
    color: $are-primary;
  }

  &--danger {
    color: $are-danger;
  }

  &--warn {
    color: $are-warn;
  }

  &--success {
    color: $are-success;
  }
}
