import React from 'react'
import { {{ properCase name }}, Button } from 'are-visual'

export default () => {
  const onClick = () => {
    //
  }
  return (
    <>
      <{{ properCase name }} />
      <Button onClick={onClick}>Click me</Button>
    </>
  )
}
